.container
  %h1.text-center Ballonist

.container
  .col-md-3
  %ul.col-md-6
    %li
      = link_to 'Github', 'https://github.com'
    %li
      = link_to 'Targetprocess', 'https://targetprocess.com'
    %li
      = link_to 'Slack', 'https://slack.com'
    %li
      = link_to 'Github', 'https://github.com'
  .col-md-3